.home-section {
  width: 100%;
  min-height: 84%;
  padding: 16px;
}

.home-container {
  border-radius: 12px;
}
.home-container img {
  background-image: url('../../assets/backgrounds/people-bg.svg');
  background-size: cover;
  background-position: center center;
  border-radius: 12px;
  opacity: 0.7;
  animation: img-container-appear linear 800ms normal;
}

.home-content {
  position: absolute;
  padding: 24px 0 24px 56px;
  gap: 24px;
}
.home-content div {
  width: 20rem;
}

.home-title {
  color: var(--white);
  font-weight: 100;
  font-size: 3rem;
  width: fit-content;
  padding: 4px;
}
.home-title:nth-child(1) {
  animation: background-title-appear linear 240ms normal;
}
.home-title:nth-child(2) {
  animation: background-title-appear linear 480ms normal;
}
.home-title:nth-child(3) {
  animation: background-title-appear linear 720ms normal;
}
.home-title:nth-child(4) {
  animation: background-title-appear linear 960ms normal;
}
.home-title:nth-child(5) {
  animation: background-title-appear linear 1200ms normal;
}

.home-subtitle {
  color: var(--white);
  font-weight: 300;
  width: 20rem;
  font-size: 1.25rem;
  padding: 4px;
  animation: smooth-appear linear 800ms normal;
}

@media (max-width: 800px) {
  .home-title {
    opacity: 0.9;
    font-size: 2.8rem;
  }
  .home-subtitle {
    opacity: 0.8;
  }
  .home-content {
    padding-left: 28px;
  }
  @media (max-height: 400px) {
    .home-content {
      gap: 16px;
    }
    .home-title {
      opacity: 0.9;
      font-size: 1.5rem;
      font-weight: 200;
    }
    .home-subtitle {
      opacity: 0.8;
      font-size: 0.8rem;
    }
    .home-content {
      padding-left: 28px;
    }
  }
}

@keyframes smooth-appear {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.25;
  }
  50% {
    opacity: 0.5;
  }
  75% {
    opacity: 0.75;
  }
  100% {
    opacity: 1;
  }
}
@keyframes img-container-appear {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.175;
  }
  50% {
    opacity: 0.35;
  }
  75% {
    opacity: 0.525;
  }
  100% {
    opacity: 0.7;
  }
}
@keyframes background-title-appear {
  from {
    transform: translateX(10vh);
  }
  to {
    transform: translateX(0);
  }
}
