.contact-container {
  background-color: rgba(247, 247, 247, 0.7);
  padding: 44px 0 44px 0;
  border-radius: 12px;
}

.contact-form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
  width: 60%;
  height: 100%;
}
.fields-form {
  display: flex;
  flex-direction: column;
  gap: 8px;
  border: none;
  padding: 24px 0 0 0;
}
.legend-form {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-size: 1.2rem;
  font-weight: 500;
  color: var(--text-dark);
}
.input-form {
  padding: 12px;
  font-size: 0.9rem;
  width: 100%;
  height: 2.4rem;
  border: 1px solid lightgray;
  background-color: var(--color-secondary);
  border-radius: 8px;
  color: var(--text-dark);
}
.text-area-form {
  padding: 12px;
  font-size: 0.9rem;
  width: 100%;
  height: 8rem;
  border: 1px solid lightgray;
  background-color: var(--color-secondary);
  border: none;
  border-radius: 8px;
  color: var(--text-dark);
}

@media (max-width: 1300px) {
  .contact-form {
    width: 70%;
  }
}

@media (max-width: 1200px) {
  .contact-form {
    width: 80%;
  }
}
@media (max-width: 1090px) {
  .contact-form {
    width: 90%;
  }
}
