.nav-options-mobile {
  display: none;
}

.close-nav-mobile::after {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 2.065rem;
  right: 1rem;
  content: 'X';
  width: 2rem;
  height: 2rem;
  border-radius: 100%;
  background-color: var(--color-primary-one);
  color: var(--color-secondary);
  font-size: 1.6rem;
  font-weight: 700;
  padding: 0.2rem;
  cursor: pointer;
}

@media (max-width: 800px) {
  .nav-container::after {
    display: flex;
    align-items: center;
    justify-content: center;
    content: '≡';
    width: 2rem;
    height: 2rem;
    border-radius: 100%;
    background-color: var(--color-primary-one);
    color: var(--color-secondary);
    font-size: 2rem;
    line-height: 2rem;
    padding: 0.2rem;
    cursor: pointer;
  }
  .nav-container:hover::after {
    background-color: rgba(58, 77, 75, 0.8);
  }
  .nav-options-pc {
    display: none;
  }
  .nav-options-mobile {
    display: flex;
    width: 100%;
    height: 100%;
    z-index: 1;
    position: fixed;
    background-color: var(--color-secondary);
  }
  menu {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 36px;
    width: 100%;
    height: 100%;
  }

  .menu-btn p {
    font-size: 1.2rem;
  }
}
