.title-content {
  width: 16rem;
  height: 3rem;
}

.subtitle-content {
  width: 16rem;
  height: 1rem;
}

.menu {
  position: fixed;
  z-index: 1;
  width: 100%;
  min-height: 16%;
  padding: 0 1rem 0 1rem;
  background-color: rgba(247, 247, 247, 0.6);
}
.menu-spacing {
  width: 100%;
  min-height: 16%;
  background-color: var(--color-secondary);
}
.menu-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border: 1px solid transparent;
  border-radius: 12px;
  width: 5.5rem;
  height: 2rem;
}
.menu-btn:hover {
  background-color: rgba(58, 77, 75, 0.1);
}
.menu-btn:active {
  border: 1px solid rgba(58, 77, 75, 0.1);
}

.nav-container {
  display: block;
}
.nav-options-pc {
  display: flex;
  flex-direction: row;
  gap: 4px;
}

.nav-options-mobile {
  display: none;
}

.close-nav-mobile::after {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 2.7rem;
  right: 1rem;
  content: 'X';
  width: 2.4rem;
  height: 2.4rem;
  border-radius: 100%;
  background-color: var(--color-primary-one);
  color: var(--color-secondary);
  font-size: 1.4rem;
  font-weight: 700;
  padding: 0.2rem;
  cursor: pointer;
}

.logo-svg {
  position: relative;
  width: 4rem;
  height: 4rem;
}
.logo-svg:hover {
  filter: drop-shadow(0 0 1rem rgba(247, 179, 32, 0.4));
}
.logo-name-container {
  display: flex;
  align-items: start;
  justify-content: center;
  width: 15rem;
  height: 4rem;
}
.logo-name {
  position: absolute;
  height: 3rem;
  right: 10.06rem;
  font-family: 'Istok Web', sans-serif !important;
  font-weight: 400 !important;
  font-style: normal !important;
  font-size: 2.45rem !important;
  animation: logo-name-appear linear 800ms normal;
}
.logo-description {
  position: absolute;
  height: 1rem;
  right: 4.378rem;
  font-family: 'Istok Web', sans-serif !important;
  font-weight: 400 !important;
  font-style: normal !important;
  font-size: 0.6rem !important;
  animation: logo-subname-appear linear 800ms normal;
}
.half-part-logo-one {
  position: absolute;
  top: 0.2rem;
  right: 0.4rem;
  width: 2.75rem;
  height: 2.75rem;
  animation: top-appear linear 800ms normal;
}
.half-part-logo-two {
  position: absolute;
  bottom: 0.2rem;
  left: 0.4rem;
  width: 2.75rem;
  height: 2.75rem;
  animation: bottom-appear linear 800ms normal;
}

@media (max-width: 800px) {
  .nav-container::after {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 2.7rem;
    right: 1rem;
    content: '≡';
    width: 2.4rem;
    height: 2.4rem;
    border-radius: 100%;
    background-color: var(--color-primary-one);
    color: var(--color-secondary);
    font-size: 2rem;
    line-height: 2rem;
    padding: 0.2rem;
    cursor: pointer;
  }
  .nav-container:hover::after {
    background-color: rgba(58, 77, 75, 0.8);
  }

  .nav-options-pc {
    display: none;
  }

  .nav-options-mobile {
    display: flex;
    width: 100%;
    height: 100%;
    z-index: 1;
    position: fixed;
    background-color: var(--color-secondary);
    animation: gentle-appear linear 200ms normal;
  }

  menu {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 36px;
    width: 100%;
    height: 100%;
  }
  .menu-btn {
    width: 8rem;
    height: 3rem;
  }
  .menu-btn p {
    font-size: 1.2rem;
  }
}

@keyframes top-appear {
  0% {
    top: 0rem;
    right: 0rem;
    opacity: 0;
  }
  25% {
    top: 0.05rem;
    right: 0.1rem;
    opacity: 0.25;
  }
  50% {
    top: 0.1rem;
    right: 0.2rem;
    opacity: 0.3;
  }
  75% {
    top: 0.15rem;
    right: 0.3rem;
    opacity: 0.5;
  }
  100% {
    top: 0.2rem;
    right: 0.4rem;
    opacity: 1;
  }
}
@keyframes bottom-appear {
  0% {
    bottom: 0rem;
    left: 0rem;
    opacity: 0;
  }
  25% {
    bottom: 0.05rem;
    left: 0.1rem;
    opacity: 0.25;
  }
  50% {
    bottom: 0.1rem;
    left: 0.2rem;
    opacity: 0.3;
  }
  75% {
    bottom: 0.15rem;
    left: 0.3rem;
    opacity: 0.5;
  }
  100% {
    bottom: 0.2rem;
    left: 0.4rem;
    opacity: 1;
  }
}
@keyframes logo-name-appear {
  0% {
    right: 0;
    opacity: 0;
  }
  25% {
    right: 2.5rem;
    opacity: 0.25;
  }
  50% {
    right: 5rem;
    opacity: 0.3;
  }
  75% {
    right: 7.5rem;
    opacity: 0.5;
  }
  100% {
    right: 10.06rem;
    opacity: 1;
  }
}
@keyframes logo-subname-appear {
  0% {
    right: 0;
    opacity: 0;
  }
  25% {
    right: 1rem;
    opacity: 0.25;
  }
  50% {
    right: 2rem;
    opacity: 0.3;
  }
  75% {
    right: 3rem;
    opacity: 0.5;
  }
  100% {
    right: 4.378rem;
    opacity: 1;
  }
}
@keyframes gentle-appear {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.25;
  }
  50% {
    opacity: 0.5;
  }
  75% {
    opacity: 0.75;
  }
  100% {
    opacity: 1;
  }
}
