.products-container {
  background-color: rgba(247, 247, 247, 0.7);
  padding: 24px 32px 24px 32px;
  border-radius: 12px;
}

.products {
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-template-rows: repeat(2, auto);
}

.products-content {
  display: flex;
  flex-direction: column;
  gap: 12px;
  background-color: var(--color-secondary);
  border-radius: 12px;
  padding: 24px;
  max-height: 17.2rem;
  min-width: 100%;
}
.products-content:hover {
  transition: all 0.3s ease-in-out;
  background-color: rgba(247, 247, 247, 0.8);
}
.products-content:nth-child(1) {
  animation: gentle-appear linear 500ms normal;
}
.products-content:nth-child(2) {
  animation: gentle-appear linear 600ms normal;
}
.products-content:nth-child(3) {
  animation: gentle-appear linear 700ms normal;
}
.products-content:nth-child(4) {
  animation: gentle-appear linear 800ms normal;
}
.products-content:nth-child(5) {
  animation: gentle-appear linear 900ms normal;
}
.products-content:nth-child(6) {
  animation: gentle-appear linear 1000ms normal;
}
.products-content button {
  width: 100%;
}

.product-title {
  display: flex;
  align-items: center;
  width: 14rem;
  height: 2rem;
  font-size: 1rem;
}
.product-description {
  display: flex;
  align-items: start;
  height: 10rem;
  font-size: 0.9rem;
}
.product-details {
  width: 100%;
  height: 100%;
  border-radius: 12px;
  background-color: white;
  padding: 64px 26px 24px 26px;
}
.product-details button {
  width: 100%;
  font-weight: 600;
  background-color: var(--color-primary-two);
  border: 1px solid transparent;
  animation: gentle-appear linear 700ms normal;
}
.product-details button:hover {
  background-color: rgba(247, 179, 32, 0.8);
}
.product-details button:active {
  background-color: transparent;
  border-color: var(--color-primary-two);
}
.product-details-title {
  color: var(--font-dark);
  font-weight: 200;
  font-size: 2rem;
  width: fit-content;
  height: 2rem;
  animation: gentle-appear linear 700ms normal;
}
.product-details-description {
  display: block;
  text-overflow: clip;
  overflow: scroll;
  color: var(--font-dark);
  font-weight: 300;
  font-size: 1.1rem;
  width: fit-content;
  min-height: 22rem;
  animation: gentle-appear linear 700ms normal;
}
.product-details-description p {
  margin-bottom: 1rem;
  font-weight: 300;
}
.product-details-description ul li {
  list-style-position: inside;
  list-style-type: square;
  margin-bottom: 20px;
}
.product-details-description li ul {
  padding: 0 0 0 12px;
}
.product-details-description li h1 {
  font-size: 1.1rem;
  margin-bottom: 20px;
}

.i-return {
  position: absolute;
  color: var(--icon-dark);
  border-radius: 100%;
  border: 1px solid transparent;
  background-color: transparent;
  cursor: pointer;
  top: 1rem;
  left: 1rem;
}
.i-return:hover {
  background-color: rgba(247, 247, 247, 0.8);
}
.i-return:active {
  background-color: transparent;
  border-color: rgba(247, 247, 247, 0.8);
}

@keyframes gentle-appear {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.25;
  }
  50% {
    opacity: 0.5;
  }
  75% {
    opacity: 0.75;
  }
  100% {
    opacity: 1;
  }
}

@media (max-width: 1100px) {
  .products {
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(3, auto);
  }
  .product-details-title {
    font-size: 1.4rem;
  }
}
@media (max-width: 800px) {
  .products {
    display: grid;
    grid-template-columns: repeat(1, auto);
    grid-template-rows: repeat(6, auto);
  }
  .product-details div {
    gap: 56px;
  }
  .product-details-title {
    font-size: 1.2rem;
  }
}

@media (min-width: 1400px) {
  .product-details-description {
    max-height: 64rem;
  }
}
@media (min-width: 440px) {
  .product-details-description {
    max-height: 5rem;
  }
}
@media (max-width: 490px) {
  .product-details-title {
    font-size: 1.2rem;
  }
}
@media (max-width: 430px) {
  .product-details-title {
    font-size: 1.2rem;
  }
  .product-details-description {
    font-size: 1rem;
    max-height: 36rem;
  }
}
@media (max-width: 428px) {
  .product-details-description {
    max-height: 40rem;
  }
}
@media (max-width: 375px) {
  .product-details-description {
    max-height: 28rem;
  }
}
