#root {
  width: 100%;
  height: 100%;
}

.section {
  min-height: 120%;
  padding: 16px;
}

.i-g {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 40px;
  height: 40px;
  font-size: 32px;
}
.i-m {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 32px;
  height: 32px;
  font-size: 24px;
}
.i-p {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 28px;
  height: 28px;
  font-size: 20px;
}

.i-return {
  position: absolute;
  color: var(--icon-dark);
  border-radius: 100%;
  border: 1px solid transparent;
  background-color: transparent;
  cursor: pointer;
  top: 1rem;
  left: 1rem;
}
.i-return:hover {
  background-color: rgba(247, 247, 247, 0.8);
}
.i-return:active {
  background-color: transparent;
  border-color: rgba(247, 247, 247, 0.8);
}

.logo {
  display: flex;
  align-items: center;
  width: 20rem;
  height: 100%;
}

.pr {
  position: relative;
}
.pa {
  position: absolute;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
.flex-center-left {
  display: flex;
  align-items: center;
  justify-content: left;
}
.flex-center-right {
  display: flex;
  align-items: center;
  justify-content: right;
}
.flex-center-sp {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.flex-center-start {
  display: flex;
  align-items: center;
  justify-content: start;
}
.flex-start-center {
  display: flex;
  align-items: start;
  justify-content: center;
}
.flex-center-end {
  display: flex;
  align-items: center;
  justify-content: end;
}
.flex-end-center {
  display: flex;
  align-items: end;
  justify-content: center;
}
.flex-row {
  display: flex;
  flex-direction: row;
}
.flex-column {
  display: flex;
  flex-direction: column;
}

.main-bg {
  background-image: url('../public/backgrounds/main-bg.png');
  background-size: cover;
  background-position: center center;
}
.worker-bg {
  background-image: url('../public/backgrounds/worker-bg.png');
  background-size: cover;
  background-position: center center;
}

.light-bg {
  background-color: var(--color-secondary);
}

.bg-primary-one {
  background-color: var(--color-primary-one);
}
.bg-primary-two {
  background-color: var(--color-primary-two);
}
.color-white {
  color: var(--white);
}
.color-dark {
  color: #414747;
}
.color-green {
  color: green;
}
.color-yellow {
  color: var(--color-primary-two);
}

.text-light {
  color: var(--text-light);
}

.w-fit {
  width: fit-content;
}
.wh-100 {
  width: 100%;
  height: 100%;
}
.w-100 {
  width: 100%;
}
.h-100 {
  height: 100%;
}

.gap-2 {
  gap: 2px;
}
.gap-4 {
  gap: 4px;
}
.gap-8 {
  gap: 8px;
}
.gap-12 {
  gap: 12px;
}
.gap-16 {
  gap: 16px;
}
.gap-20 {
  gap: 20px;
}
.gap-24 {
  gap: 24px;
}
.gap-28 {
  gap: 28px;
}
.gap-32 {
  gap: 32px;
}
.gap-48 {
  gap: 48px;
}
.gap-56 {
  gap: 56px;
}

.y-appear:nth-child(1) {
  animation: y-appear linear 900ms normal;
}
.y-appear:nth-child(2) {
  animation: y-appear linear 800ms normal;
}
.y-appear:nth-child(3) {
  animation: y-appear linear 700ms normal;
}
.y-appear:nth-child(4) {
  animation: y-appear linear 600ms normal;
}
.y-appear:nth-child(5) {
  animation: y-appear linear 500ms normal;
}
.y-appear:nth-child(6) {
  animation: y-appear linear 400ms normal;
}

@keyframes y-appear {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-40px);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes gentle-appear {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.25;
  }
  50% {
    opacity: 0.5;
  }
  75% {
    opacity: 0.75;
  }
  100% {
    opacity: 1;
  }
}

@media (max-width: 1100px) {
  .section {
    min-height: fit-content;
  }
}

/*@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}*/
